@import 'vars';

:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: $blue;

  h1{
    color: white;
    font-weight: 300;
    font-size: 4em;
    margin-top: 0;
    text-align: center;
  }

  .startGame{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 22px 36px;
    border-radius: 6px;

    .inputWrapper{
      position: relative;

      &.error{
        animation: inputError .2s 4;
      }
    }
  }
}

@keyframes inputError{
  0%{left: 0;}
  25%{left: -10px;}
  50%{left: 0;}
  75%{left: 10px;}
  100%{left: 0;}
}